body {
    background-image: url(../img/qbkls.png);
  }
  
  .logo {
    font-family: 'Sawarabi Mincho', sans-serif;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }